.body {
background: rgb(43, 255, 213);
text-align: center;
}

.list {
display: block;
background-color: rgb(59, 67, 2);
width: 400px;
margin: 70px auto 20px auto; 
padding: 20px 40px 40px 40px;
border-radius: 40px;
text-align: start;
color: white;
}

li {    
    font-size: 28px;
}

h1 {
    font-size: 42px;
    text-align: center;
}